main {
    display: flex;
    gap: 10rem;
}

form {
    display: flex;
    flex-direction: column;

    justify-content: start;
    justify-items: start;
}

label {
    display: grid;
    text-align: start;
    margin-bottom: 0.5rem;

    & input {
        width: 100%;
    }
}

.messages {
    border: 1px solid black;
    padding: 1.5rem;
    height: 50vh;
    overflow-y: scroll;

    text-align: start;
}